
.screen {
  height: 400px;
  width: 650px;
}

.content {
  padding-bottom: 6%;
}

.appDesc {
  font-size: 1em;
}

.section {
  padding-top: 10%;
}

.devicons {
  color: black;
  font-size: 10rem;
}

.projectsHeader {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.skillsHeader {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.img-circle {
    border-radius: 50%;
}
